@media (max-width: 440px) {
    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    body {
        width: 44rem;
        max-width: 100%;
        background-image: none;

    }

    header {
        display: block;
        font-size: .65rem;
        padding: .9rem;
        background-color: var(--background-main);
        margin: 0;
    }

    section {
        margin: 0;
        display: block;
    }

    #image-phone img {
        height: auto;
        width: 22rem;
        border-bottom: .2rem solid var(--background-main);
    }

    .fly::before {
        display: relative;
        text-align: center;
        background-color: transparent;
        color: black;
    }


}