* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 100%;
}

:root {
    --background-main: rgba(213, 43, 30, 1.0);
    --letter-background: rgba(255, 255, 255, 1.0);
    --secondary-background: rgba(0, 57, 166, 1.0);
    --tag-background: rgba(250, 244, 237, 0.7);
}

footer,
header {
    background-color: var(--background-main);
    color: var(--letter-background);
    text-align: center;

}

header {
    font-size: 1.3rem;
    padding: 1rem;
    border-bottom: 13px solid var(--secondary-background);
    margin-bottom: 1rem;
}

footer {
    font-size: .85rem;
    padding: 1.4rem 1rem 2.7rem;
    text-align: center;
}


body {
    padding: 0;
    max-width: 70rem;
    margin: 0 auto;
    font-family: "Open Sans", sans-serif;

    background-image: url("../../images/place-images/russian-bears.webp");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70rem;

}


section {
    position: relative;
    background-color: var(--tag-background);
    margin: 1rem 1rem 1rem 2rem;
    max-width: 18rem;
    height: auto;
    justify-content: center;
}

#box2 {
    position: relative;
    bottom: 1rem;
    left: 48.7rem;
}


.tag {
    padding: 3rem 1rem 1rem;
    position: relative;
}

.fly {
    position: absolute;
    left: -0.8rem;
    top: 1rem;
    width: 8rem;
    height: 8rem;
}

.fly::before {
    position: absolute;
    content: "Data";
    /* You need to put the content in ::before or it doesn't work*/
    background-color: var(--secondary-background);
    width: 195%;
    height: 3rem;
    line-height: 3rem;
    padding-left: .7rem;
    color: var(--letter-background);
}

.icono2::before {
    content: "Data";
}

/* This for the homework*/

.icono2::before {
    content: "Weather  🌥️";
}

#info1 {
    padding: 1.6rem 1.6rem 1.6rem 3rem;
}

#info2 {
    padding: 1.6rem;
}

dl {
    display: grid;
    grid-template-columns: max-content 1fr;
    gap: 0.5rem 0.5rem;
}

dt {
    grid-column: 1;
    text-align: end;
}

dd {
    grid-column: 2;
    text-align: start;
}

@media (min-width: 440px) {
    #image-phone {
        display: none
    }
}