* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1rem;
}

body {
    display: grid;
    place-items: center;
}

header,
footer {
    background-color: rgb(77, 77, 77);

}

header,
main,
footer {
    width: 60rem;
}

header {
    height: 10rem;
    display: grid;
    grid-template-rows: 70% 30%;

}


main {
    display: grid;
    grid-template-columns: 75% 25%;
    background-color: rgb(189, 189, 189);
    height: 16rem;
}


footer {
    height: 11rem;
    text-align: center;
}

h1 {
    color: rgb(216, 216, 216);
    padding: .8rem;
}

h2 {
    color: rgb(240, 240, 240);
}

p {
    padding: 0.7rem;
}

.subheader {
    background-color: rgb(0, 0, 0);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    place-items: center;
}

.contrast-background {
    background-color: white;
}