* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary: hsl(28, 85%, 62%);
    --pop-color: hsl(35, 87%, 61%);
    --background: hsl(215, 62%, 31%);
    --typeface: hsl(70, 100%, 67%);
}



body {
    font-family: "Open Sans", sans-serif;
    max-width: 75rem;
    width: 95%;
    margin: 0 auto;
    font-family: "Comic Relief", cursive;
}


header,
footer {
    background-color: var(--primary);
    padding: 1rem;

    align-items: center;
}

header {
    display: grid;
    grid-template-columns: 40% 60%;
    align-items: center;
    padding: 1rem 0 1.3rem 1rem;
}

header img {
    width: 2rem;
}

main {
    max-width: 75rem;
    text-align: center;

}

footer {
    margin-top: 1rem;
    text-align: center;
}


nav {
    max-width: 700px;
    margin: 1rem auto;
    display: flex;


}

ul {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 1rem;
    list-style: none;
    text-align: center;

}

ul a {
    padding: 1rem;
    text-align: center;
    text-decoration: none;
    color: #fff;

}

li {
    margin: 0 1rem;
    font-size: 1.rem;
}

nav a {
    text-decoration: none;
}

a:hover {
    color: var(--main-letter-color);
    background-color: var(--letter-background-color);
    border-radius: 0.25rem;
}


#low-case {
    font-size: 0.8rem;
}



h2 {
    margin: 2rem 0;
}

div {
    margin: 3rem 0;
}




input {
    padding: .3rem;
    margin: 0 0 .6rem 0;
    background-color: var(--pop-color);
    transition: background-color 0.3s ease;
}

input:hover {
    background-color: var(--primary);
    cursor: pointer;
}




#select-region {
    margin: 0;
}

#select-region input {
    margin: 0 6rem;
}

img {
    border-radius: .4rem;
    filter: drop-shadow(0 0 0px rgba(0, 0, 0, 0));
    transition: filter .4s ease;
}

img:hover {
    filter: drop-shadow(0 -2mm 4mm rgb(255, 193, 34));
    cursor: pointer;
}


#regions img {
    width: 10rem;
    margin: 0 1.5rem;

}





#gamesp img {
    width: 22rem;
    height: 11rem;
}


#emu img {
    width: 66rem;
    height: 13rem;
}



#indipokemon {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-items: stretch;
}

#indipokemon div {
    margin: 0 .8rem;
}


#indipokemon img {
    width: 13rem;

    background-color: var(--pop-color);
    border-radius: 1.3rem;
    padding: 3rem;
    margin-bottom: .6rem;
    background-size: cover;
    object-fit: contain;
    max-width: 18.75rem;
    max-height: 12.5rem;
    min-height: 12.5rem;
}


#indipokemon ul {
    padding: .5rem;
    background-color: var(--background);
    border: 2px solid var(--typeface);
    display: flex;
    flex-direction: column;
    width: 16rem;
    color: var(--typeface);
    border-radius: 1.3rem;

}




@media screen and (max-width: 30rem) {

    body {
        max-width: 100vw;
        padding: 0;
        max-width: 100vw;
    }
}