@media screen and (max-width: 30rem) {

    body {
        width: 100%;
    }

    header {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 0rem;
        position: relative;
        min-height: auto;

    }


    header p {
        font-size: 1.5rem;

    }


    nav a {
        display: block;
        text-decoration: none;
        color: var(--letter-background-color);
        border-top: 0.0625rem solid rgba(255, 255, 255, 0.1);
        color: white;

    }

    nav a:hover {
        color: var(--main-letter-color);
        background-color: var(--letter-background-color);
        border-radius: 0.25rem;
    }


    .navigation a {
        flex: 1 1 100%;
    }

    #menu {
        position: absolute;
        right: 1rem;
        top: 1.6rem;
        font-size: 2rem;
        padding: 0;

    }


    nav ul li {
        margin: 0;

        font-size: .9rem;
    }









    #emu img {
        width: 21rem;
    }

    #gamesp,
    #emu {
        transform: scale(0.8);
    }

    input[type="radio"] {
        display: none;
    }







}