@media screen and (max-width: 30rem) {



    body {
        max-width: 100vw;
        padding: 0;
        max-width: 100vw;

    }

    main {
        padding: 0;
        margin: 0;
    }

    header {

        width: 100%;
        display: flex;
        flex-direction: column;



    }

    body {
        max-width: 100vw;
        padding: 0;
        max-width: 100vw;
    }

    header {
        padding: 0rem 1rem;
        position: relative;
        min-height: auto;
        grid-template-columns: 57% 43%;
    }



    header p {
        font-size: 1.5rem;

    }


    nav a {
        display: block;
        text-decoration: none;
        color: var(--letter-background-color);
        border-top: 0.0625rem solid rgba(255, 255, 255, 0.1);

    }

    nav a:hover {
        color: var(--main-letter-color);
        background-color: var(--letter-background-color);
        border-radius: 0.25rem;
    }


    .navigation a {
        flex: 1 1 100%;
    }

    #menu {
        position: absolute;
        right: 1rem;
        top: 1.6rem;
        font-size: 2rem;
        padding: 0;

    }


    nav ul li {
        margin: 0;

        font-size: .9rem;
    }




    #emu img {
        width: 21rem;
    }


    input[type="radio"] {
        display: none;
    }

    .indie {
        padding-top: 1.5rem;
        padding-bottom: 1.8rem;
        border-bottom: 1px solid gray;
    }


    #indipokemon,
    .indie {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .indie img,
    .infop {
        width: 50%;
        margin: 0 auto;
        display: block;
    }




}