img {
    border: 5px solid darkblue;
    width: 400px;
    height: 600px;
    animation: fade 15s;
}

body {
    background-color: black;
    color: white;
}

section {
    display: block;
    width: 100%;
    max-width: 400px;
    margin: 0 auto;
}