@media screen and (max-width: 30rem) {
    header {
        display: grid;
        background-color: black;
        color: white;
        grid-template-columns: 1fr 1fr;
    }

    body {
        max-width: 25rem;
    }

    .album {
        display: grid;
        grid-template: 1fr / 1fr;
        place-items: center;
        padding: 1rem;

    }
}